__pycache__
*.hdf5
*.pkl
**/tensor_logs
.idea/*
.vscode/
*.egg-info/
dist/*
*.pyc
.venv/*
**/.DS_Store
**/fig
**/res
**/kernel_visualizations
**/data
**/.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
*.so

# synthetic data
synthetic/data/