__pycache__/
*.hdf5
*.pkl
**/tensor_logs
.idea/*
.vscode/
*.egg-info
build/
dist/
*.pyc
.venv/*
**/.DS_Store
**/fig
**/res
**/kernel_visualizations
**/data
**/.ipynb_checkpoints/
.pytest_cache/
.python_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
*.so
*.gif
*.png

# synthetic data
synthetic/data/

# video experiment results
experiments/video_experiment/res/